body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--blue-1);
}
/* Variables */
:root {
  --blue-1: #a8dadc;
  --blue-2: #457b9d;
  --blue-3: #1d3557;
  --red-1: #e63946;
  --light-1: #f1faee;
  --white: #fff;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* styles */
header {
  background-color: var(--blue-2);
  color: var(--light-1);
  text-align: center;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  min-width: 690px;
}
h1 {
  margin-top: 1rem;
}
h2 {
  margin-top: 0;
  padding-top: 1rem;
  margin-left: 1rem;
}
.btn {
  background-color: var(--blue-2);
  padding: 0.25rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 1s;
}
.btn:hover {
  background-color: var(--blue-3);
  color: var(--light-1);
}
.form-control {
  background-color: var(--blue-1);
}
form {
  max-width: 650px;
  margin: 0 auto;
}
.input-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
}
label {
  font-size: 0.75rem;
}
input {
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--light-1);
}
.input {
  display: grid;
  grid-template-columns: 10rem;
}

/* table */
.table-control {
  background-color: var(--blue-1);
  height: 30rem;
  overflow: scroll;
  min-width: 690px;
}
table,
th,
tr,
td {
  border: 1px solid var(--blue-3);
}
tr {
  background-color: var(--blue-2);
}
th {
  background-color: var(--blue-3);
  color: var(--light-1);
}
td {
  max-width: 5rem;
  overflow: scroll;
}
table {
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
}
.row-light {
  background-color: var(--blue-1);
}
.down {
  transform: translate(-141%, 25%);
  color: var(--blue-2);
  cursor: pointer;
  font-size: 0.9rem;
}
.up {
  transform: translate(0, -25%);
  color: var(--blue-2);
  cursor: pointer;
  font-size: 0.9rem;
}
.up:hover,
.down:hover {
  transition: 0.2s;
  color: var(--blue-1);
}
.delete {
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}
.delete:hover {
  color: var(--red-1);
}
.edit {
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}
.edit:hover {
  color: var(--blue-1);
}
.row-light .edit:hover {
  color: var(--blue-2);
}

/* total */
.total-monthly {
  position: relative;
  text-align: right;
  margin-right: 1rem;
  min-width: 563px;
}
.red {
  color: var(--red-1);
}
.monthly-budget-container {
  position: absolute;
}
.monthly-budget-form {
  margin-left: 1rem;
  margin-top: 0;
  transform: translateY(-1rem);
}
.monthly-budget-form input {
  margin: 0 1rem;
  width: 7rem;
}
